// COLOR
$red: #fe6c6c;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
}
html {
    font-size: 14px;
}
.custom-container {
    width: 90%;
    margin: 0 auto;
}
button,
a {
    transition: 0.5s ease;
}

// NAV
header {
    nav {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            height: 50px;
            width: 200px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .nav__menu {
            button {
                background: $red;
                color: #ffffff;
                border-radius: 15px;
                border: 1px solid $red;
            }
            button:first-child {
                margin-right: 20px;
            }
            button:hover,
            button:focus {
                background: #ffffff;
                color: $red;
                border: 1px solid $red;
            }
        }
    }
    .user-wrap {
        display: flex;
        align-items: center;
        h3 {
            margin: 0;
        }
        a {
            padding: 3px 15px;
            margin-left: 20px;
            border: 1px solid $red;
            color: $red;
        }
    }
}
.log__wrapper {
    height: auto;
    width: auto;
    padding: 1rem 3rem;
    text-align: center;
    h1 {
        margin-bottom: 1.2rem;
        color: $red;
        font-size: 2.5rem;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .ant-input {
            font-size: 1rem;
            height: auto;
            padding: 10px;
        }
        .ant-input-password {
            padding: 0 10px 0 0;
        }
        button {
            background: $red;
            color: white;
            margin: 1rem 0;
            font-size: 1.2rem;
            padding: 8px 40px;
            border-radius: 5px;
            height: auto;
            border: none;
        }
    }
}

// HOME
.home {
    margin-top: 50px;
    &__svg-wrapper {
        width: 100%;
        height: 200px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .caption {
        margin-top: 20px;
        p {
            text-align: center;
            font-size: 30px;
            color: #3f3d56;
            font-weight: 500;
            span {
                color: $red;
            }
        }
    }
    .playnow {
        text-align: center;
        padding-top: 20px;
        a {
            color: $red;
            border: 1px solid $red;
            font-size: 30px;
            padding: 15px 60px;
            border-radius: 60px;
        }
        a:hover,
        button:hover {
            background: $red;
            color: #ffffff;
        }
        button {
            color: $red;
            border: 1px solid $red;
            font-size: 30px;
            height: 75px;
            padding-left: 60px;
            padding-right: 60px;
            border-radius: 60px;
        }
    }
}
.notifyLog {
    h2 {
        color: $red;
        text-align: center;
        font-weight: 400;
    }
}

// ERROR
.error {
    text-align: center;
    margin-top: 150px;
    h1 {
        color: $red;
        font-size: 50px;
    }
    a {
        border: 1px solid $red;
        color: $red;
        padding: 15px 40px;
        font-size: 20px;
    }
}

// QUIZZ
.quizz {
    margin-top: 50px;
    &__question {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        h1 {
            color: #3f3d56;
            font-weight: 400;
            font-size: 32px;
        }
    }
    &__options {
        .ant-card-body {
            // background: rgba(254, 108, 108, 0.7);
            // color: #3f3d56;
            color: $red;
            border: 1px solid $red;
            font-size: 20px;
            transition: 0.5s ease;
            font-weight: 500;
            text-align: center;
        }
        .ant-card-body:hover {
            color: #ffffff;
            background: #4fc3f7;
            border: 1px solid #4fc3f7;
        }
        .selected {
            .ant-card-body {
                color: #ffffff;
                background: #4fc3f7;
                border: 1px solid #4fc3f7;
            }
        }
        .correct {
            .ant-card-body {
                background: #8bc34a !important;
                border: 1px solid #8bc34a !important;
                color: #ffffff !important;
            }
        }
    }
    &__btn-wrap {
        margin-top: 40px;
        text-align: center;
        button {
            background: rgba(254, 108, 108, 1);
            color: #ffffff;
            border: none;
            height: 70px;
            padding: 0 50px;
            font-size: 25px;
        }
        button:hover,
        button:focus {
            background: rgba(254, 108, 108, 1);
            color: #ffffff;
        }
        a {
            color: #ffffff;
            font-size: 25px;
            background: #3f3d56;
            padding: 15px 40px;
        }
    }
}

// LEADER BOARD
.leaderboard {
    &__header {
        text-align: center;
        h1 {
            color: #3f3d56;
        }
        svg {
            height: 100px;
            width: 100%;
            fill: $red;
        }
    }
    &__body {
        h2,
        h3 {
            text-align: center;
        }
    }
    .play-again {
        text-align: center;
        margin-top: 40px;
        a {
            color: #ffffff;
            font-size: 25px;
            background: $red;
            padding: 10px 40px;
        }
    }
}
